* {
  font-family: sans-serif;
  box-sizing: border-box;
}
table td a {
  text-decoration: none;
  transition: 0.2s ease;
  color: #3f75c5;
}

table {
  font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
  font-size: 18px;
  border-collapse: collapse;
  text-align: center;
  }
  th, td:first-child {
  background: #555;
  color: white;
  padding: 10px 20px;
  }
  th, td {
  border-style: solid;
  border-width: 0 0.5px 0.5px 0;
  border-color: white;
  }
  td {
  background: #eee;
  }
  th:first-child, td:first-child {
  text-align: left;
}

a:hover {
  opacity: 0.7;
}
p {
  font-style: italic;
}
input, textarea, button {
  padding: 10px;
  display: block;
  min-height: 30px;
  width: 250px;
  margin-bottom: 10px;
}
textarea {
  resize: vertical;
  height: 80px;
}
button {
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
}

.star-rating{
  font-size: 0;
 }
 .star-rating__wrap{
  display: inline-block;
  font-size: 1rem;
 }
 .star-rating__wrap:after{
  content: "";
  display: table;
  clear: both;
 }
 .star-rating__ico{
  float: right;
  padding-left: 2px;
  cursor: pointer;
  color: #FFB300;
 }
 .star-rating__ico:last-child{
  padding-left: 0;
 }
 .star-rating__input{
  display: none;
 }
 .star-rating__ico:hover:before,
 .star-rating__ico:hover ~ .star-rating__ico:before,
 .star-rating__input:checked ~ .star-rating__ico:before
 {
  content: "\f005";
 }